{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
    <style>
        body {
            background-color: #191729; /* Warna latar belakang di luar kotak tengah */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Menggunakan tinggi 100% dari viewport height */
            margin: 0;
        }

        .container-box {
            background-color: #f0f0f4; /* Warna latar belakang kotak tengah */
            max-width: 500px; /* Lebar maksimum kotak login */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan (shadow) */
            transition: box-shadow 0.3s ease; /* Efek transisi pada hover */
        }

        .container-box:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Bayangan lebih tebal saat dihover */
        }

        .login-form {
            max-width: 300px;
            margin: 0 auto; /* Ratakan form ke tengah */
        }

        .form-group {
            margin-bottom: 20px;
        }

        .login-btn {
            background-color: #f5c542; /* Warna kuning */
            border: none;
            color: #000;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            display: block; /* Membuat tombol menjadi elemen blok */
            margin: 0 auto; /* Ratakan tombol ke tengah */
        }

        .login-btn:hover {
            background-color: #d0ac38; /* Warna kuning lebih tua saat dihover */
        }

        .register-link {
            color: #f5c542; /* Warna kuning untuk tautan pendaftaran */
            text-decoration: none;
        }

        .register-link:hover {
            text-decoration: underline;
        }
    </style>

    <div class="container-box login-form">
        <h1 class="text-center">Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Username" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>

            <div class="form-group">
                <input class="btn login-btn" type="submit" value="Login">
            </div>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        
        Don't have an account yet? <a href="{% url 'main:register' %}" class="register-link">Register Now</a>
    </div>
{% endblock content %}
