{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  
    <style>
        body {
            background-color: #191729;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            padding: 20px;
        }


        .container-box {
            background-color: #f0f0f4;
            width: 80%;
            max-width: 400px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            margin: 20px;
        }


        .container-box:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }

        .register-form {
            max-width: 300px;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .register-btn {
            background-color: #f5c542;
            border: none;
            color: #000;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .register-btn:hover {
            background-color: #d0ac38;
        }

        .login-link {
            color: #f5c542;
            text-decoration: none;
        }

        .login-link:hover {
            text-decoration: underline;
        }
    </style>

    <div class="container-box register-form">
        <h1 class="text-center">Register</h1>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>

            <div class="form-group">
                <input class="btn register-btn" type="submit" name="submit" value="Daftar">
            </div>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        Already have an account? <a href="{% url 'main:login' %}" class="login-link">Login Now</a>
    </div>
{% endblock content %}
